.App {
  text-align: center;
}
h1{
  text-align: center;
  margin:0;
  padding: 20px;
  font-family: "Times New Roman";
  font-style: oblique;
}
.animate__animated animate__bounceInDown{
  --animate-duration: 2.5ms;
}

body{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("/src/STABILIMENTO-BALNEARE.jpg") no-repeat center top;
  position: fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}
.row{
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  height: max-content;
  font-size: 40px;
  box-shadow:inset 0 -5px 40px rgba(0,0,0,0.6);
  background: rgba(0,0,0,0.3);
  color:floralwhite;
  font-family: "Lucida Handwriting";
  transition: transform .2s;
}
.row:hover{
  transform: scale(1.5);
}
.row-container{
  display: flex;
  box-shadow:inset 0 -1px 5px rgba(0,0,0,0.6);
}
.menu{
  display: flex;
  align-items: center;
  flex-direction: row;
  width:100px;
  margin-left: 4px;
}
.menu-icon {
  display: inline-block;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 4px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.menu ul{
  width: 100px;
  margin:0;
  margin-left: 4px;
  padding: 0;
  list-style-type: none;
}
.menu li{
  width:100px;
  float:left;
  margin: 0;
  padding: 0px;
  color:black;
}

.menu ul li a{
  display: flex;
  align-items: center;
  flex-direction: row;
  width:100px;
  padding: 0;
}
.menu a{
  display: block;
  padding: 5px;
  color: #000;
  text-decoration: none;
}
.menu a:hover{
  background-color: #000033;
  color: #FFFFFF;
  height: 50px;
  text-decoration: none;
}
.menu li li a{
  color: floralwhite;
  border-top: black;
}
.menu li ul{
  display: none;
  margin-left: 4px;
}
.menu li:hover ul{
  display: block;
  margin-left: 4px;
  position: absolute;
  z-index:1;
  width:100px;
  padding: 0;
  border-top: black;
  margin: 0 0 0 -1px;
  border:1px solid black;
  background: rgba(0,0,0,0.4);

}
.menu li li{
  margin-left: 4px;
  display: flex;
  width: 100px;
  vert-align: middle;
  border:none;
  height:50px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.4);
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;
}
.right{
  display: flex;
  align-items: center;
  width: 78px;
}





