.App {
  text-align: center;
}
h1{
  text-align: center;
  margin:0;
  padding: 20px;
  font-family: "Times New Roman";
  font-style: oblique;
}
.animate__animated animate__bounceInDown{
  --animate-duration: 2.5ms;
}

body{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("/src/STABILIMENTO-BALNEARE.jpg") no-repeat center top;
  position: fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}
.row{
  display: flex;
  width: max-content;
  height: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: max-content;
  height: max-content;
  font-size: 40px;
  box-shadow:inset 0 -5px 40px rgba(0,0,0,0.6);
  background-color: floralwhite;
  font-family: "Lucida Handwriting";
  transition: transform .2s;
}
.row:hover{
  transform: scale(1.5);
}
.row-container{
  display: flex;
  box-shadow:inset 0 -1px 5px rgba(0,0,0,0.6);
}
.menu-icon {
  display: inline-block;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 2px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.menu{
  display: flex;
  align-items: center;
  flex-direction: row;
  width:78px;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;
}
.right{
  display: flex;
  width: 78px;
}




